@page "/inmueble/{id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoObtenerInmueble casoDeUsoObtenerInmueble
@inject IRepositorioFoto repositorioFotos
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="contenedor">


    <main class="contenido">
        <section class="info-propiedad">
            <h2>@inmueble.Nombre</h2> 
            <p class="direccion">@inmueble.Direccion</p>
            <div class="precio">
                <span class="etiqueta">Alquilar</span>
                <span class="valor">@inmueble.Precio</span>
            </div>
        </section>

        
        @if (imagenes.Length == 0)
        {
            <p>No hay fotos disponibles para esta propiedad.</p>
        }
        else
        {
            
        <section class="galeria">
            <button @onclick="FotoAnterior" class="btn-flecha">◀</button>
            <img src="@imagenes[fotoActual]" alt="Foto propiedad" class="foto" />
            <button @onclick="FotoSiguiente" class="btn-flecha">▶</button>
        </section>
        }
        <section class="detalles">
            <h4>Detalles</h4>
            <ul>
                <li><strong>Tipo:</strong>@inmueble.Ciudad</li>
                <li><strong>Tipo:</strong>@inmueble.TipoInmueble.ToString()</li>
                <li><strong>Cantidad de baños: @inmueble.Banios</strong> 1</li>
                <li><strong>Cantidad de Camas: @inmueble.CantidadDeCamas </strong> 1</li>
                <li><strong>Otras características:</strong> Cocina - Balcón</li>
            </ul>
        </section>
    </main>
   
</div>
 <img src="/images/fotosInmuebles/oxouzdoi.png" alt="Foto propiedad" class="foto" />
<div id="map" style="height: 400px; width: 80%;">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_9xydGamrZY4fHXdj39zwJPV-4FCUzbQ&callback=initializeMap" async
    defer></script>
<script>
    function initializeMap(dotNetHelper, lat, lng) {
        const initialPosition = { lat: lat, lng: lng}; // Coordenadas de Buenos Aires

        const map = new google.maps.Map(document.getElementById("map"), {
            center: initialPosition,
            zoom: 12,
        });

        const marker = new google.maps.Marker({
            position: initialPosition,
            map: map,
            draggable: true,
        });

    }

</script>
</div>

@code {
    private int fotoActual = 0;
    private string[] imagenes = new string[0];

    void FotoSiguiente()
    {
        fotoActual = (fotoActual + 1) % imagenes.Length;
        StateHasChanged(); // Actualiza la vista para mostrar la nueva foto
    }

    void FotoAnterior()
    {
        fotoActual = (fotoActual - 1 + imagenes.Length) % imagenes.Length;
        StateHasChanged();
    }

    [Parameter]
    public int Id { get; set; }

    private Inmueble inmueble = new Inmueble();

    protected override void OnParametersSet()
    {
        try
        {
            inmueble = casoDeUsoObtenerInmueble.Ejecutar(Id);
            imagenes = repositorioFotos.ObtenerFotosPorInmueble(Id).Select(f => f.Url).ToArray();

        }
        catch (Exception ex)
        {
            // Manejo de errores, por ejemplo, redirigir a una página de error o mostrar un mensaje
            NavigationManager.NavigateTo("/error");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
         if (firstRender)
        {
            var dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeMap", dotNetRef, @inmueble.CoordLat, @inmueble.CoordLong);
        }
    }
}
